.radio {
    color: blue;
}

.radio::before {
    color: blue;
}


.radio:checked::before {
    color: blue;
}

.label {
    display: flex;
    gap: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
