.input:focus {
}

.input {
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.superInput {
}

.errorInput {
    outline-color: red;
}

.errorInput:focus {
}

.error {
    font-size: 10px;
    color: red;
}
